@import 'src/styles.scss';

.titulo {
  color: $texto;
  margin-top: 13vh;
  margin-left: 20vw;
}

.preview-peliculas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $texto;
  height: 12vh;
  width: 100vw;

  img {
    width: auto;
    height: 10vh;
    border: solid .5em $acento;
  }
}
