@import 'src/styles.scss';
.wrapper {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 3em;
    height: 3em;
    margin-right: 2em;
  }
}

button {
  font-size: $medium;
  padding: .3rem 1rem;
  background-color: $texto;
  color: $acento;
  border-radius: .3rem;
  border: none;
}
