@import 'src/styles.scss';

.detalles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10vh;
  background-color: $texto;
  padding: 2em 1em;

  .titulo {
    color: $acento;
    margin-left: 3em;

    h2 {
      margin-left: 2em;
      margin-bottom: .5em;
    }

    img {
      width: 20em;
      height: 30em;
      margin-right: 4em;
      border: solid 0.2em $detalles;
    }
  }

  .informacion {
    display: flex;
    flex-direction: column;
    margin-right: 10em;
    margin-top: 0;

    ul {
      margin-left: .5em;
      list-style: none;

      li {
        color: $detalles;
        line-height: 1.5rem;
      }
    }
  }

  span {
    font-size: $small;
    color: $detalles;
    margin-top: .3rem;
  }


}

.info {
  font-weight: bold;
  color: $titulos !important;
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    font-size: $medium;
    color: $acento;
    background-color: $texto;
    border: none;
    width: 10rem;
    height: 3rem;
    margin: 5rem 3rem;
    cursor: pointer;
    border-radius: .5rem;

    a {
      text-decoration: none;
      color: $acento;
    }
  }
}

@media screen and (max-width: 1024px) {
  .detalles {
    flex-direction: column;
    justify-content: space-around;

    .informacion {
      margin-left: 5em;
      margin-top: 3em;
    }

    .botones {
      margin-bottom: 10vh;
    }
  }


}
