/* You can add global styles to this file, and also import other style files */
//@import 'src/styles.scss';
// Colores
$fondo: #f1faee;
$acento: #e63946;
$texto: #457b9d;
$titulos: #a8dadc;
$detalles: #1d3557;

// Fuente
$fuentes: 'Sora', sans-serif, Helvetica, Arial;

// Tamaños de letra
$small: 1em;
$medium: 2em;
$large: 4em;
