/* You can add global styles to this file, and also import other style files */
//@import 'src/styles.scss';
// Colores
$fondo: #FFFEF2;
$acento: #F8A300;
$texto: #2D2D2D;
$titulos: #FDE726;
$detalles: #7C8587;

// Fuente
$fuentes: 'Red Hat Display', sans-serif, Helvetica, Arial;

// Tamaños de letra
$small: 1em;
$medium: 2em;
$large: 4em;
