@import 'src/styles.scss';

* {
  position: relative;
  overflow-x: hidden;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh
}

.showcase {
  margin: 0;

  .movie-container {
    margin: 2em 0;
  }
}

.lupa {
  height: 2rem;
  width: 2rem;
  margin-right: 3vw;
}

.buscar-peli {
  width: 30vw;
  height: 5vh;
  margin-right: 3vw;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: $texto;
  height: 100%;
  width: 100vw;
  padding-bottom: 4em;
  overflow-y: hidden;

  li {
    flex-grow: 1;
    height: 20em;
    width: 20%;
    list-style: none;
    margin: 2em 3em 6em 0;
    overflow-x: visible !important;
  }
}

.detalles {
  width: 15em;
  height: 20em;
}

.poster {
  width: 15em;
  height: 20em;
  border: solid .2em $acento;
  cursor: pointer;
  text-align: center;
  margin-left: 1.8rem;

  &:hover {
    border: solid .5em $fondo;
  }
}

h4, h5 {
  color: $titulos;
  text-align: center;
}

h4 {
  font-size: $medium;
}

h5 {
  font-size: $small;
}

button {
  position: absolute;
  top: 1em;
  left: 3em;
  border: none;
  background-color: $texto;
  padding: .2rem .5rem;
  cursor: pointer;
  border-radius: .25em;
  border: solid .2em $acento;

  a {
    text-decoration: none;
    color: $acento;
  }
}

.flechas {
  margin-top: 2em;

  img {
    width: 2em;
    height: 2em;
    margin: 0 10em;
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  ul {
    flex-direction: column;

    li {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 2em 0;
      width: 95vw;
    }
  }

  h4, h5 {
    overflow-y: hidden;
  }

  .poster {
    float: center;
    margin: 0;
  }

  .flechas {
    margin: 2em 0;
  }

  button {
    left: 1.5em;
  }
}
