@import 'src/styles.scss';

* {
  position: relative;
  overflow-x: hidden;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh
}

.lupa {
  height: 2rem;
  width: 2rem;
  margin-right: 3vw;
}

.buscar-peli {
  width: 30vw;
  height: 5vh;
  margin-right: 3vw;
}

.divider {
  position: absolute;
  background-color: $detalles;
  height: 2em;
  width: 100vw;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: $texto;
  height: 100%;
  width: 100vw;
  padding-bottom: 4em;
  overflow-y: hidden;

  li {
    flex-grow: 1;
    height: 20em;
    width: 20%;
    list-style: none;
    margin: 2em 3em 6em 0;
    overflow-x: visible !important;
  }
}

.poster {
  width: 15em;
  height: 20em;
  border: solid .2em $acento;
  cursor: pointer;
  text-align: center;
  margin-left: 1.8rem;

  &:hover {
    border: solid .5em $fondo;
  }
}

h4, h5 {
  color: $titulos;
  text-align: center;
}

h4 {
  font-size: $medium;
}

h5 {
  font-size: $small;
}
